*{
    box-sizing: border-box;
}
body {
    color: white;
    background-color: #1B1C21;
    overflow: hidden;
    height: 100%;
    font-family: sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  
  
  @media screen and (max-width: 860px) {
    .header__menu, .footer {
      display: none;
    }
  }