*{
    box-sizing: border-box;
}
body {
    color: white;
    background-color: #1B1C21;
    overflow: hidden;
    height: 100%;
    font-family: sans-serif;
  }
  
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .container:before {
    content: "";
    position: absolute;
    left: -150%;
    top: 0;
    width: 300%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transform: rotate(45deg);
    z-index: -1;
  }
  
  .header {
    display: flex;
    align-items: center;
    padding: 30px;
  }
  
  .header__logo {
    font-size: 1.3em;
    font-weight: 900;
    letter-spacing: -1px;
  }
  
  .header__menu {
    margin-left: auto;
  }
  
  .header__menu__list, .footer__menu__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .header__menu__link {
    margin-left: 50px;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
  }
  
  .footer__menu__link {
    margin-left: 50px;
    color: rgba(255, 255, 255, 0.5);
  }
  
  .sliders-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
  }
  .card img{
    max-width: 20%;
    border-radius: 15px;
    filter: drop-shadow(5px 5px 10px #000000); 
  }
  
    .card {
        padding: 15px;
        display: flex;
        margin: auto;
        background: rgba(255, 255, 255, 0.54);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.32);
        }
        .info{
            padding: 20px;
            font-size: 1.5rem;
            color: #fff;
            align-items: center;
            text-align: left;
        }
  
  
  @media screen and (max-width: 860px) {
    .header__menu, .footer {
      display: none;
    }
  }